@model IEnumerable<PredictionAlgo.Models.PredictionComparison>

        
@{
    ViewBag.Title = "All Previous Comparisons";
}

<div style="background-color:darkgoldenrod">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Current Comparisons", "Index", "PredictionComparisons")
            <li>
        </ul>
    </div>
</div>

<h2>Prediction Comparison</h2>
    <h4>Algorthym Prediction Success Rate: @ViewData["SuccessRate"]</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FixtureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeSpread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwaySpread)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlgoScoreSpreadPrediction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookVsPrediction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualScoreDelta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamToBack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredictionResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FixtureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeSpread)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwaySpread)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlgoScoreSpreadPrediction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookVsPrediction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualScoreDelta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamToBack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredictionResult)
        </td>
      
    </tr>
}

</table>
