@model PredictionAlgo.Models.PredictionComparison

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PredictionComparison</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlgoScoreSpreadPrediction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgoScoreSpreadPrediction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookScoreSpreadPrediction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookScoreSpreadPrediction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualScoreSpreadPrediction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualScoreSpreadPrediction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamToBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamToBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwerveTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwerveTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictionResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictionResult)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PredictionComparisonReference }) |
    @Html.ActionLink("Back to List", "Index")
</p>
