@model PredictionAlgo.Models.Fixture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FixtureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreDelta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreDelta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictedDelta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictedDelta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualVersusPredictedDelta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualVersusPredictedDelta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictedResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictedResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredictionOutcome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredictionOutcome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
