@using PredictionAlgo.Models
@model IEnumerable<Fixture>

@{
    ViewBag.Title = "ResultsSeason2010_2011";
}

<div style="background-color: azure">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Results 2016/2017", "ResultsSeason2016_2017", "Fixtures")
            <li>
            <li>@Html.ActionLink("Results 2015/2016", "ResultsSeason2015_2016", "Fixtures")
            <li>
            <li>@Html.ActionLink("Results 2014/2015", "ResultsSeason2014_2015", "Fixtures")
            <li>
            <li>@Html.ActionLink("Results 2013/2014", "ResultsSeason2013_2014", "Fixtures")
            <li>
            <li>@Html.ActionLink("Results 2012/2013", "ResultsSeason2012_2013", "Fixtures")
            <li>
            <li>@Html.ActionLink("Results 2011/2012", "ResultsSeason2011_2012", "Fixtures")
            <li>
        </ul>
    </div>
</div>

<h2>Season 2010/2011</h2>
<h5>Predictions on this page do not incorporate a spread. To see predictions that include online bookmaker spreads see Prediction Comparisons page.</h5>

<h4>Result Prediction Success Rate: @ViewData["ResultsWithoutSpreadSuccessRate"] %</h4>

<div align="right">
    @if ((string)ViewData["CsvExport"] == string.Empty)
    {
        <h4>
            @Html.ActionLink("Export fixtures to csv", "ResultsSeason2010_2011",
       new { id = "id", title = "Csv exports to C:\\Users\\TEMP" })
        </h4>
    }
    else
    {
        <div style="color: red">
            @ViewData["CsvExport"]
        </div>
        <h4>
            @Html.ActionLink("Export fixtures to csv", "ResultsSeason2010_2011",
        new { id = "id", title = "Csv exports to C:\\Users\\TEMP" })
        </h4>
    }
</div>


@{
    int rowCount = 1;

    <table class="table" style="text-align: center">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FixtureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictionOutcome)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            rowCount = rowCount == 1 ? 0 : 1;

            if (rowCount == 0)
            {
                <tr style="background-color: #f9f9f9">
                    <td>
                        @Html.DisplayFor(modelItem => item.FixtureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScoreDelta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedDelta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedResult)
                    </td>
                    @if (item.PredictionOutcome == PredictionOutcome.Success)
                    {
                        <td style="background-color: #dcf2de">
                            @Html.DisplayFor(modelItem => item.PredictionOutcome)
                        </td>
                    }
                    else
                    {
                        <td style="background-color: #eacccd">
                            @Html.DisplayFor(modelItem => item.PredictionOutcome)
                        </td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixtureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScoreDelta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedDelta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PredictedResult)
                    </td>
                    @if (item.PredictionOutcome == PredictionOutcome.Success)
                    {
                        <td style="background-color: #dcf2de">
                            @Html.DisplayFor(modelItem => item.PredictionOutcome)
                        </td>
                    }
                    else
                    {
                        <td style="background-color: #eacccd">
                            @Html.DisplayFor(modelItem => item.PredictionOutcome)
                        </td>
                    }
                </tr>
            }

        }

    </table>
}
