@model IEnumerable<PredictionAlgo.Models.Fixture>

@{
    ViewBag.Title = "ResultsSeason2015_2016";
}


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Results 2016/2017", "ResultsSeason2016_2017", "Fixtures")
        <li>
        <li>@Html.ActionLink("Results 2014/2015", "ResultsSeason2014_2015", "Fixtures")
        <li>
        <li>@Html.ActionLink("Results 2013/2014", "ResultsSeason2013_2014", "Fixtures")
        <li>
        <li>@Html.ActionLink("Results 2012/2013", "ResultsSeason2012_2013", "Fixtures")
        <li>
        <li>@Html.ActionLink("Results 2011/2012", "ResultsSeason2011_2012", "Fixtures")
        <li>
        <li>@Html.ActionLink("Results 2010/2011", "ResultsSeason2010_2011", "Fixtures")
        <li>
</ul>
</div>

    <h2>Season 2015/2016</h2>

    <table class="table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FixtureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualVersusPredictedDelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictedResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PredictionOutcome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FixtureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoreDelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PredictedDelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualVersusPredictedDelta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PredictedResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PredictionOutcome)
                </td>
                <td>
                        @Html.ActionLink("Details", "Details", new { id=item.FixtureReference })
                    </td>
            </tr>
        }

    </table>
