@*<div align="right">
    <div style="color: red">
        @ViewData["CsvExport"] ="Fixtures have been downloaded to C:\User\TEMP";
    </div>
    <h4>
        @Html.ActionLink("Export betting data to csv", @ViewData["page"].ToString(), "Fixtures", null,
            new { title = "Csv exports to C:\\Users\\TEMP" })
    </h4>
</div>


@if ((string)ViewData["CsvExport"] == string.Empty)
{
    <div align="right">
        <h4>
            @Html.ActionLink("Export betting data to csv", ViewData["page"].ToString(), "Fixtures", null,
            new { title = "Csv exports to C:\\Users\\TEMP\\PredictionAlgo.csv" });
        </h4>
    </div>
}
else
{
    <div align="right">
        <div style="color: red">
            @ViewData["CsvExport"];
        </div>
        <h4>
            @Html.ActionLink("Export betting data to csv", @ViewData["page"].ToString(), "Fixtures", null,
            new { title = "Csv exports to C:\\Users\\TEMP\\PredictionAlgo.csv" });
        </h4>
    </div>
}*@
    